

.withcss{
background-color: #E4F9F5;
}
.withcss h1{
  text-align: center;
  color: #66BFBF;
  font-size: 2rem;
}
.withcss p{
  text-align: left;
  font-family: 'Merriweather', serif;
  tab-size: 2rem;
  line-height: 2rem;
}
.withcss h2{
  margin-left: 2rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
